@import url(vars.css);
@import url(../node_modules/prismjs/themes/prism-okaidia.css);

pre, code {
    font-family: var(--font-mono);

    @nest .hasInconsolata & {
        font-family: var(--font-inconsolata);
    }
}

pre {
    overflow-x: scroll;
}
