@import url(vars.css);

:root {
    --logo-diameter: calc(var(--font-size-base) * 5);
}

.page-header {
    margin: 0 auto;
    max-width: var(--width-large);
    font-size: 1rem;

    & h1 {
        position: relative;
        top: -var(--font-size-base);
        left: -var(--font-size-base);
        font-size: inherit;
    }

    & .logo {
        position: absolute;
        height: var(--logo-diameter);
        width: var(--logo-diameter);
    }

    & .overlay {
        fill: var(--color-white);
        clip-path: inset(0 0 17px);
    }

    & .underlay {
        fill: var(--color-mine-shaft);
    }

}
