@import url(vars.css);

.home {
    & main {
        & section {
            margin-bottom: 1.5em;
        }

        & h2 {
            font-family: var(--font-sans);

            @nest .hasLeagueSpartan & {
                font-family: var(--font-league-spartan);
            }
        }
    }
}

.contact {
    & li {
        position: relative;
        margin-bottom: .5em;
        font-family: var(--font-sans);
        list-style: none;
        padding-left: 2.5em;
        line-height: 2;

        @nest .hasLeagueSpartan & {
            font-family: var(--font-league-spartan);
        }

        @media (--breakpoint-large) {
            margin-left: -2.5em;
        }
    }

    & a {
        text-decoration: none;
    }

    & li::before {
        content: '';
        height: 32px;
        width: 32px;
        position: absolute;
        left: 0;
        background-size: contain;
    }

    & .link-twitter::before {
        background-image: svg-load('../img/twitter.svg', fill: var(--color-mine-shaft));
    }

    & .link-github::before {
        background-image: svg-load('../img/github.svg', fill: var(--color-mine-shaft));
    }

    & .link-linkedin::before {
        background-image: svg-load('../img/linkedin.svg', fill: var(--color-mine-shaft));
    }
}
