@import url(vars.css);

.page-nav {
    margin-bottom: var(--margin-bottom-small);
    background: var(--color-mine-shaft);
    color: var(--color-white);
    font-family: var(--font-sans);
    font-size: var(--font-size-small);
    text-transform: uppercase;

    @nest .hasLeagueSpartan & {
        font-family: var(--font-league-spartan);
    }

    & h2 {
        display: none;
    }

    & ul {
        margin: 0 auto;
        padding-left: 6em;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: var(--width-large);

        @media (--breakpoint-large) {
            padding: 0;
        }
    }

    & li {
        list-style: none;
        margin: 0;
    }

    & a {
        display: flex;
        align-items: center;
        padding:
        var(--margin-bottom-base) calc(16/12)em;
        line-height: 1;
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }
}
