:root {
    /* # Colors */
    --color-white: white;
    --color-black: black;
    --color-mine-shaft: gray(51);
    --color-silver-chalice: gray(157);

    /* # Font families */
    --font-libre-baskerville: 'Libre Baskerville', serif;
    --font-serif: serif;

    --font-league-spartan: 'League Spartan', sans-serif;
    --font-sans: sans-serif;

    --font-inconsolata: 'Inconsolata-g', monospace;
    --font-mono: monospace;

    /* # Vertical rhythm */
    /* ## Font size */
    --font-size-base: 1em; /* 16px */
    --font-size-largestest: 4em; /* 64px */
    --font-size-largest: 3em; /* 48px */
    --font-size-larger: 2em; /* 32px */
    --font-size-large: 1.5em; /* 24px */
    --font-size-small: 0.75em; /* 12px */

    /* ## Line height */
    --line-height-base: 1.5; /* 24px */
    --line-height-largestest: 1.125; /* 72px */
    --line-height-largest: 1; /* 48px */
    --line-height-larger: 1.5; /* 48px */
    --line-height-large: 1; /* 24px */
    --line-height-small: 2; /* 24px */

    /* ## Margins */
    --margin-bottom-base: 1.5em; /* 24px */
    --margin-bottom-largestest: .375em;
    --margin-bottom-largest: .5em;
    --margin-bottom-larger: .75em;
    --margin-bottom-large: 1em;
    --margin-bottom-small: 2em;

    /* # Widths */
    --width-min: 20em;
    --width-large: 33em;

    /* # Breakpoints */
    @custom-media --breakpoint-large (min-width: 33em);
}
