{% set likes = mentions | webmentionsByType('like-of') %}
{% if likes.length > 0 %}
<div class="feedback-row">
  <span class="feedback-label">{{ likes.length }} {{ "Like" | pluralize(likes.length) }}</span>
  {% set items = likes %}{% include "facepile.njk" %}
</div>
{% endif %}

{% set reposts = mentions | webmentionsByType('repost-of') %}
{% if reposts.length > 0 %}
<div class="feedback-row">
  <span class="feedback-label">{{ reposts.length }} {{ "Repost" | pluralize(reposts.length) }}</span>
  {% set items = reposts %}{% include "facepile.njk" %}
</div>
{% endif %}
