{% set likes = mentions | webmentionsByType('like-of') %}
{% set reposts = mentions | webmentionsByType('repost-of') %}
{% if likes.length > 0 or reposts.length > 0 %}
{% set combined = likes.concat(reposts) %}
{% set seenKeys = [] %}
{% set items = [] %}
{% for item in combined %}
  {% set key = item.author.url if item.author and item.author.url else item.url %}
  {% if seenKeys.indexOf(key) == -1 %}
    {% set pushKey = seenKeys.push(key) %}
    {% set pushItem = items.push(item) %}
  {% endif %}
{% endfor %}
<div class="facepile-row">
  <span class="facepile-rule"></span>
  {% include "facepile.njk" %}
  <span class="facepile-caption">{{ likes.length }} {{ "like" | pluralize(likes.length) }} · {{ reposts.length }} {{ "repost" | pluralize(reposts.length) }}</span>
  <span class="facepile-rule"></span>
</div>
{% endif %}
