<footer>
  <div class="footer-inner">
    <span class="copyright">&copy; 1999-2026 Mike Cravey</span>
    <div class="footer-nav">
      <a href="/colophon/">Colophon</a>
      <a href="/feed.xml">RSS</a>
    </div>
  </div>
</footer>
