<header>
  <a href="/" class="logo">craveytrain</a>
  <nav>
    {%- for item in collections.nav %}
      {% include "nav-item.njk", url: item.url, contents: item.data.eleventyNavigation.key %}
    {%- endfor %}
  </nav>
</header>
