<header>
  <a href="/" class="logo">craveytrain</a>
  <nav>
    {%- for item in collections.nav %}
      {% set url = item.url %}
      {% set contents = item.data.eleventyNavigation.key %}
      {% include "nav-item.njk" %}
    {%- endfor %}
  </nav>
</header>
