!!! 5
/if IE lt 7
	html(lang="en").no-js.ie6
/if IE 7
	html(lang="en").no-js.ie7
/if IE 8
	html(lang="en").no-js.ie8
html(lang="en").no-js

	head
		meta(charset: 'utf-8')
		//- Fix this with headers
		meta(http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1')
		title= page.title
		meta(name: 'description', content: '')
		meta(name: 'author', content: 'Mike Cravey')
		meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0')
		link(rel: 'stylesheet', href: '/css/style.css')
		script(src: '/js/libs/modernizr.js')
	body(id: page.bodyId, class: page.bodyClass)
		section.main(role: 'main')!= body
		section.rail
			p#logo craveytrain
			nav.siteNav
				ul
					- var home = (page.bodyId === 'home') ? 'selected' : '';
					li(class: home)
						a(href: '/') Home
					- var about = (page.bodyId === 'about') ? 'selected' : '';
					li(class: about)
						a(href: '/about') About
					- var contact = (page.bodyId === 'contact') ? 'selected' : '';
					li(class: contact)
						a(href: '/contact') Contact

//- TODO: put this back in when going to prod
//-		script
//-			var _gaq=[["_setAccount","UA-3516156-4"],["_trackPageview"]];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";s.parentNode.insertBefore(g,s)}(document,"script"));