!!! 5
/if IE lt 7
	html(lang='en-US', dir: 'ltr').no-js.ie6
/if IE 7
	html(lang='en-US', dir: 'ltr').no-js.ie7
/if IE 8
	html(lang='en-US', dir: 'ltr').no-js.ie8
html(lang='en-US', dir: 'ltr').no-js

	head
		meta(charset: 'utf-8')
		//- Fix this with headers
		meta(http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1')
		title= page.title
		meta(name: 'description', content: page.desc)
		meta(name: 'author', content: 'Mike Cravey')
		meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0')
		link(rel: 'stylesheet', href: '/css/style.css')
		link(rel: 'stylesheet', href: '/css/github.css')
		link(rel: 'alternate', title: 'All of Craveytrain', href: '/feed', type: 'application/rss+xml')
		link(rel: 'author', href: '/about', title: 'About the author')
		link(rel: 'home', href: '/', title: 'Home')
		// Welcome to the source code. Enjoy yourself. Questions, concerns, comments, drop me a line via any of the means on my contact page.
	body(id: page.bodyId, class: page.bodyClass)
		header#siteHead(role: 'banner')
			div#logo craveytrain
			nav.siteNav(role: 'navigation')
				ul
					- if (page.bodyId === 'home')
						li.selected
							span.navItem Home
								span.tail
					- else
						li
							a.navItem(href: '/') Home
								span.tail
					- if (page.bodyId === 'posts')
						li.selected
							span.navItem Posts
								span.tail
					- else
						li
							a.navItem(href: '/posts') Posts
								span.tail
					- if (page.bodyId === 'about')
						li.selected
							span.navItem About
								span.tail
					- else
						li
							a.navItem(href: '/about') About
								span.tail
					- if (page.bodyId === 'contact')
						li.selected
							span.navItem Contact
								span.tail
					- else
						li
							a.navItem(href: '/contact') Contact
								span.tail
		section.main(role: 'main')
			- for (var type in page.msgs)
				ul(class: type + ' messages')
					- each msg in page.msgs[type]
						li= msg
			!= body

		script
			var _gaq=[["_setAccount","UA-3516156-4"],["_trackPageview"]];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";s.parentNode.insertBefore(g,s)}(document,"script"));