---
title: Colophon
layout: base
css: content-pages.css
tags: foot
---
<div class="page-header">
	<h1 class="page-title">{{ title }}</h1>
	<p class="subtitle">While this site has cycled its tech stack a few times, it's always been built on the hard work of the open source community. Here's how it's evolved.</p>
</div>

<div class="content-body">
	{%- set posts = collections['colophon'] | reverse -%}
	{%- for post in posts -%}
	<section id="{{ post.data.title | slugify }}">
		<h2 class="band-heading">{{ post.data.title | replace("Colophon ", "") }}</h2>
		<div class="content-section-body">
			{{ post.content | safe }}
		</div>
	</section>
	{%- endfor -%}
</div>
