---
title: Colophon
layout: base
css: content-pages.css
tags: foot
eleventyNavigation:
  key: Colophon
  order: 2
---
<div class="page-header section-grid">
  <div class="section-label">&nbsp;</div>
  <div>
    <h1 class="page-title">{{ title }}</h1>
    <p class="subtitle">While this site has cycled its tech stack a few times, it's always been built on the hard work of the open source community. Here's how it's evolved.</p>
  </div>
</div>

<div class="divider"><hr></div>

{% set posts = collections['colophon'] | reverse %}
{%- for post in posts -%}
<div class="section-grid" id="{{ post.data.title | slugify }}">
  <div class="section-label">{{ post.data.title | replace("Colophon ", "") }}</div>
  <div class="section-content">
    {{ post.content | safe }}
  </div>
</div>
{% if not loop.last %}
<div class="divider"><hr></div>
{% endif %}
{%- endfor -%}
