---
title: Contact
layout: page
tags: nav
eleventyNavigation:
  key: Contact
  order: 2
---
<p>Have something to say you would like me to hear? Feel free to drop me a line at any one of the following fine establishments (or anywhere else you see me):</p>

{% include "contact-links" %}
