---
title: Craveytrain
layout: base
---
<header>
	<div class="container">
		<h1>{{ '/img/logo.svg' | svgContents }}</h1>

		<section class="hero">
			<p>
				<span>Hey y’all,</span>
				my name is
				<strong>Mike Cravey</strong>. I'm a father, husband, and geek in TX.
			</p>
		</section>

		{% assign navPages = collections.nav | eleventyNavigation %}

		<nav>
			<ul>
				{%- for entry in navPages %}
					<li>
						{% include 'nav-item', url: entry.url, contents: entry.title %}
					</li>
				{%- endfor %}
			</ul>
		</nav>
	</div>
</header>

<main>
	<div class="container">
		<h2>Latest Post</h2>

		{% assign post = collections.post | last %}
		{% include "post-link" %}
	</div>
</main>
