---
title: Craveytrain
layout: base
---

<section class="hero">
	<p>
		<span>Hey y’all,</span>
		my name is
		<strong>Mike Cravey</strong>
		and I'm a father, husband, and geek in Lake Jackson, TX.
	</p>
</section>

<section class="summary">
	<article>
		<h2>Github</h2>
		<p>
			On the internet is where I was raised, on
			<a href="https://github.com/">Github</a> is where I spend most my days.
			One of my fav projects is my
			<a href="https://github.com/craveytrain/dotfiles">dotfiles</a>.
		</p>
	</article>

	<article>
		<h2>CodePen</h2>
		<p>
			I've rekindled my love for <a href="https://codepen.io/">CodePen</a>. I'm
			maintaining a
			<a href="https://codepen.io/craveytrain/pen/xaeXBm">sample recipe card</a>
			for a web development course I'm teaching.
		</p>
	</article>

	<article>
		<h2>LinkedIn</h2>
		<p>
			For a more professional view of my career, I maintain my
			<a href="https://www.linkedin.com/in/craveytrain/"
				>LinkedIn profile page</a
			>.
		</p>
	</article>
</section>
