---
title: Tags
layout: page
css: posts.css
---

<div class="posts-column">
	<p class="tags-count">{{ collections.tagList.length }} {{ "topic" | pluralize(collections.tagList.length) }}</p>
	<ul class="tag-index-list">
		{% for tag in collections.tagList %}
			<li class="tag-index-row">
				<a href="/tags/{{ tag | slugify }}/" class="tag-index-name">{{ tag }}</a>
				<span class="tag-index-count">{{ collections[tag].length }} {{ "post" | pluralize(collections[tag].length) }}</span>
			</li>
		{% endfor %}
	</ul>
</div>
