---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - nowEntries
  addAllPagesToCollections: true
layout: page
css: posts.css
eleventyComputed:
  title: '{{ tag }}'
permalink: /tags/{{ tag | slugify }}/
---

<div class="posts-column">
{% set posts = collections[tag] | reverse %}
{% include "post-list-grouped.njk" %}

<div class="archive-closer">
  <a href="/tags/" class="archive-link">All Tags</a>
</div>
</div>
