@import 'functions';
@import 'vars/_generate-css-vars';
@import 'vars/_generate-css-vars-media-queries';
@import 'vars/_getter';
@import 'vars/_get-token';

$font-stack-alfa-slab-one: 'Alfa Slab One', serif;

$breakpoints: (
  'breathing-room': 500px,
  'breakover': 750px
);

$tokens: (
  'default': (
    'text-color': gray(20%),
    'bg-color': white,
    'color-trans-gray': rgba(0, 0, 0, 0.08),
    'min-width': 320px,
    'max-width': 1200px,
    'text-vert-rhythm': 1.5rem,
    'main-padding-horz': 25px,
    'main-padding-vert': 1.5rem,
    'nav-bg-color': gray(20%),
    'nav-text-color': white,
    'h1-family': $font-stack-alfa-slab-one,
    'h1-size': 43px,
    'h1-weight': normal,
    'body-bg':
    linear-gradient(
      90deg,
      rgba(233, 168, 202, 0.1) 60%,
      rgba(195, 224, 229, 0.2) 87%
    )
  ),
  'breathing-room': (
    'main-padding-horz': 50px,
    'h1-size': 64px
  )
);

// expose the css variables
:root {
  @include css-vars(map-get($tokens, 'default'));
  @include css-vars-media-queries($tokens);
}
