@import 'vars';
@import 'functions';

$breakover-width: 750px;

.hero {
  display: flex;
  align-items: center;
  padding-top: calc(40vw + #{get(text-vert-rhythm)});
  margin-bottom: get(text-vert-rhythm);
  background-image: url('../img/illustration.png');
  background-repeat: no-repeat;
  background-size: 40vw;
  background-position: top center;
  font-size: 24px;
  font-family: 'Nixie One', serif;
  text-align: center;

  @media (min-width: $breakover-width) {
    min-height: calc(300px + #{get(text-vert-rhythm)});
    padding-right: 325px;
    padding-top: 0;
    margin-bottom: 0;
    background-position-x: right;
    background-size: unset;
    text-align: initial;
  }
}

.hero-large-text {
  display: block;
  margin: 0;
  padding: 0;
  font-family: get(h1-family);
  font-size: get(h1-size);
  font-weight: get(h1-weight);
}

.body {
  background: get(color-trans-gray);
  padding: get(text-vert-rhythm) get(main-padding-horz);
  margin-left: calc(-1 * #{get(main-padding-horz)});
  margin-right: calc(-1 * #{get(main-padding-horz)});

  @media (min-width: $breakover-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    padding-bottom: 0;
  }
}

.body-title {
  font-weight: 800;
}
