@import 'vars';
@import 'functions';

.nav {
  background: get(nav-bg-color);
  color: get(nav-text-color);
  padding: 0 get(main-padding-horz);

  svg {
    fill: currentColor;
  }
}

.nav-list {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
}

.nav-list-item {
  display: flex;
  align-content: center;
}

.nav-link {
  display: flex;
  color: inherit;
  text-decoration: none;
  align-self: center;
  padding: 9px 0;
}

.nav-logo {
  @extend .nav-link;

  padding: 0;

  svg {
    height: 40px;
  }
}
