nav.page-nav(role='navigation')
  ul
    +listOLinks('/', 'Home')
    +listOLinks('/posts', 'Posts')
    +listOLinks('/#about', 'About')
    +listOLinks('/#contact', 'Contact')
    li.nav-search
      form#search(method='get', action='http://google.com/search', role='search')
        input(type='hidden', name='sitesearch', value='http://craveytrain.com')
        input#q(type='search', name='q', placeholder='search')
