/* Variables */
:root {
	--base-font-size: 1rem; /* 16px */
	--ratio: 1.2; /* Ratio for font scale */

	/* Type sizes */
	--h6-font-size: var(--base-font-size);
	--h5-font-size: calc(var(--h6-font-size) * var(--ratio));
	--h4-font-size: calc(var(--h5-font-size) * var(--ratio));
	--h3-font-size: calc(var(--h4-font-size) * var(--ratio));
	--h2-font-size: calc(var(--h3-font-size) * var(--ratio));
	--h1-font-size: calc(var(--h2-font-size) * var(--ratio));
	--small-font-size: calc(var(--base-font-size) / var(--ratio));
	--very-small-font-size: calc(var(--small-font-size) / var(--ratio));

	/* Type line height */
	--line-height: 1.3;

	/* Type face */
	--base-typeface: 'Lato', -apple-system, system-ui, sans-serif;
	--title-typeface: 'Outfit', sans-serif;
	--monospace-typeface: 'Operator Mono', 'Fira Code', Consolas, Monaco,
		'Andale Mono', 'Ubuntu Mono', monospace;

	/* Colors */
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--mine-shaft: hsl(0, 0%, 20%);
	--dove-gray: hsl(0, 0%, 45%);
	--mercury: hsl(0, 0%, 90%);
	--blue-lagoon: hsl(189, 99%, 30%);

	/* Layout */
	--min-width: 320px;
	--max-width: 48rem;
	--width: min(100%, var(--max-width));
	--main-padding: 1rem;
	--home-header-height: calc(100vh - 4.25rem);
}

/* increase font size when screen is wider */
@media (min-width: 525px) {
	:root {
		--base-font-size: 1.125rem;
		--ratio: 1.333;
	}
}

@media (min-width: 800px) {
	:root {
		--home-header-height: 50vh;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: var(--base-font-size);
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	background-color: var(--mercury);
	color: var(--mine-shaft);
}

body {
	margin: 0;
	font-family: var(--base-typeface);
	font-weight: 400;
	line-height: var(--line-height);
	background: var(--white);
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 3rem 0 1.38rem;
	font-family: var(--title-typeface);
	font-weight: 700;
}

h1 {
	margin-top: 0;
	font-size: var(--h1-font-size);
	font-weight: 800;
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

h4 {
	font-size: var(--h4-font-size);
}

h5 {
	font-size: var(--h5-font-size);
}

h6 {
	font-size: var(--h6-font-size);
}

small,
.text_small {
	font-size: var(--small-font-size);
}

p,
ul,
ol,
dl {
	margin: 0 0 1rem 0;
	padding: 0;
}

ul ul {
	margin: 0 0 0 1rem;
}

a {
	color: var(--mine-shaft);
}

a:hover {
	color: var(--blue-lagoon);
}

time {
	color: var(--dove-gray);
}

.container {
	margin: auto;
	width: var(--width);
	container-type: inline-size;
}

header {
	padding: var(--main-padding);
	background: var(--black);
	color: var(--white);
}

header .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
	height: 100%;
}

header h1 {
	font-size: inherit;
}

header a,
header a:hover {
	text-decoration: none;
	color: inherit;
}

.page-home header {
	height: var(--home-header-height);
}

header svg {
	width: 150px;
	height: 30px;
}

nav ul {
	display: flex;
	list-style: none;
	gap: calc(var(--main-padding) * 3);
	margin: 0;
}

nav a:hover {
	color: inherit;
	text-decoration: underline;
}

main {
	padding: var(--main-padding);
}

.hero span {
	display: block;
	margin: 4rem 0 2rem;
	/* calculates the font size based on the width of the container and divided by the ratio of (width of span / font size at that width) */
	font-size: calc(100cqi / 4.3);
	font-weight: 900;
	font-family: var(--title-typeface);
}

footer {
	padding: var(--main-padding) var(--main-padding);
	font-size: var(--small-font-size);
	background: var(--mercury);
}

footer p {
	margin-bottom: 0;
}

.postList li {
	list-style: none;
	margin-bottom: 1.5rem;
}

.postTitle {
	display: block;
	font-size: var(--h5-font-size);
	font-weight: 700;
}

.tagList {
	display: flex;
	gap: 0 0.5rem;
	margin: 0;
	list-style: none;
	flex-wrap: wrap;
}

.tagList li {
	margin: 0;
}

.tagList a {
	text-decoration: none;
}

.feeds {
	display: flex;
	gap: 0.5em;
}

.feeds h3 {
	font-family: inherit;
	font-size: inherit;
	margin: 0;
}

.feeds ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 0.5em;
}

/* This should be moved to the code styles */
:not(pre) > code {
	padding: 0 0.5ch;
	background: var(--mercury);
	font-family: var(--monospace-typeface);
	font-size: var(--small-font-size);
}
