:root {
  --nav-bg-color: #11040e;
  --nav-bg-hover-color: gray(20%);
  --nav-bg-active-color: gray(40%);
  --nav-text-color: white;
  --hero-bg-color: #11040e;
  --hero-text-color: white;
}

.nav {
  text-transform: lowercase;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.navList {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  margin: auto;

  @media (min-width: 66rem) {
    width: 66rem;
  }
}

.navListItem {
  flex: 1 1 auto;
}

.navLink {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var(--nav-bg-hover-color);
    color: var(--nav-text-color);
  }

  &:active {
    background-color: var(--nav-bg-active-color);
    color: var(--nav-text-color);
  }
}

.logo {
  height: 1.5rem;
  width: 2rem;
}

.siteTitle {
  display: none;

  @media (min-width: 425px) {
    display: initial;
  }
}

.searchIcon {
  height: 1rem;
  margin: 4px 0;
}

.hero {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  height: 85vw;
  background: var(--hero-bg-color) url("../img/photo.png") no-repeat;
  background-size: contain;
  background-position: right -322% center;
  color: var(--hero-text-color);

  @media (min-width: 400px) {
    background-position: right -135px center;
    height: 400px;
  }
}

.heroLogo {
  color: var(--hero-text-color);
  width: 50%;
}
