<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png?v=7kkOQ7bglv">
<link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png?v=7kkOQ7bglv" sizes="32x32">
<link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png?v=7kkOQ7bglv" sizes="16x16">
<link rel="manifest" href="/img/favicons/manifest.json?v=7kkOQ7bglv">
<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg?v=7kkOQ7bglv" color="#333333">
<link rel="shortcut icon" href="/img/favicons/favicon.ico?v=7kkOQ7bglv">
<meta name="msapplication-config" content="/img/favicons/browserconfig.xml?v=7kkOQ7bglv">
<meta name="theme-color" content="#333333">
