<nav class="page-nav" role="navigation">
	<h2>Navigation</h2>
	<ul>
		<li class="nav-posts"><a href="/posts">Posts</a></li>
		<li class="nav-about"><a href="/#about">About</a></li>
		<li class="nav-contact"><a href="/#contact">Contact</a></li>
		<!-- <li class="nav-search">
			<svg class="icon" viewBox="0 0 100 100">
				<use xlink:href="/img/sprite.svg#search"></use>
			</svg>
			<form id="search" method="get" action="http://google.com/search" role="search">
				<input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}">
				<input type="search" id="q" name="q" value="" placeholder="search">
			</form>
		</li> -->
	</ul>
</nav>
