<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta
			name="description"
			content="{{ metadata.description }}"
		/>
		<meta name="author" content="{{ metadata.author.name }}" />

		<title>{{ title }}</title>

		<link rel="author" href="/about/" title="About the author" />
		<link rel="home" href="/" title="Home" />
		<link href="https://hachyderm.io/@craveytrain" rel="me">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700;800;900&family=Lato:wght@400;700&display=swap" rel="stylesheet">

		{% set css %}
			{% include "css/index.css" %}
			{% include "css/prism-shades-of-purple.css" %}
		{% endset %}

		<style>
			{{ css | safe }}
		</style>

		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
		<link rel="manifest" href="/favicons/site.webmanifest" />
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="shortcut icon" href="/favicons/favicon.ico" />
		<meta name="msapplication-TileColor" content="#603cba" />
		<meta name="msapplication-config" content="/favicons/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />

		<link
			rel="alternate"
			type="application/atom+xml"
			title="RSS feed for Craveytrain"
			href="/feed.xml"
		/>
		<link
			rel="alternate"
			type="application/json"
			title="JSON feed for Craveytrain"
			href="/feed.json"
		/>
		{{ head | safe }}
	</head>

	{% from "includes/nav-item.njk" import navItem %}

	<body class="page-{{ page.fileSlug or 'home' }}">
		{{ content | safe }}

		<footer>
			<p>©1999 - 2022 Mike Cravey</p>
			<div class="feeds">
				<h3>Feeds</h3>
				<ul class="inlineList">
						{%- for entry in collections.foot | eleventyNavigation %}
							<li>{{- navItem(entry.url, entry.key) -}}</li>
						{%- endfor %}
				</ul>
			</div>
		{{- foot | safe -}}
	</body>
</html>
