{% set pageTitle %}
    {% if title %}
        {{ title }} — craveytrain.com
    {% else %}
        Craveytrain
    {% endif %}
{% endset %}

{# {% set canonicalUrl = page.url | absoluteUrl(metadata.url) %} #}
{% set canonicalUrl = page.url %}

<!DOCTYPE html>
<html lang="en" data-theme="dracula-dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="author" content="{{ metadata.author.name }}" />

    <title>{{ pageTitle }}</title>

    <link rel="author" href="/about/" title="About the author" />
    <link rel="home" href="/" title="Home" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&display=swap" rel="stylesheet">

    {% set styles %}
        {% include "css/index.css" %}
        {% if css %}
            {% if css is iterable and css is not string %}
                {% for ss in css %}
                    {% include "css/" ~ ss %}
                {% endfor %}
            {% else %}
                {% include "css/" ~ css %}
            {% endif %}
        {% endif %}
    {% endset %}

    <style>
        {{ styles | safe }}
    </style>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Social -->
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ metadata.author.name }}">
    <meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:image" content="{{ metadata.url }}img/illustration.png">
    <meta property="og:url" content="{{ canonicalUrl }}">

    <!-- SEO/Feeds -->
    <link rel="canonical" href="{{ canonicalUrl }}">
    <link rel="alternate" type="application/atom+xml" title="RSS feed for Craveytrain" href="/feed.xml" />
    <link rel="alternate" type="application/json" title="JSON feed for Craveytrain" href="/feed.json" />

    <!-- IndieAuth -->
    {# <link href="mailto:mike@craveytrain.com" rel="me"> #}
    {# <link href="https://twitter.com/craveytrain" rel="me"> #}
    <link href="https://github.com/craveytrain" rel="me">
    <link href="https://hachyderm.io/@craveytrain" rel="me">
    <link rel="webmention" href="https://webmention.io/craveytrain.com/webmention" />
    <link rel="pingback" href="https://webmention.io/craveytrain.com/xmlrpc" />
    {{ head }}
</head>

{% set pageSlug = page.fileSlug | slugify %}
{% if pageSlug == "" %}
    {% set pageSlug = "home" %}
{% endif %}

<body class="page-{{ pageSlug }}">
    {{ content | safe }}

    <footer>
        <div class="footer-links">
            <ul>
                {% set footerLinks = collections.foot | eleventyNavigation %}
                {% for entry in footerLinks %}
                    {% set url = entry.url %}
                    {% set contents = entry.title %}
                    <li>{% include 'nav-item.njk' %}</li>
                {% endfor %}
            </ul>
            <div class="feeds">
                <h3>{{ '/img/feed.svg' | svgContents | safe }}</h3>
                <ul>
                    {% set feeds = collections.feed | eleventyNavigation %}
                    {% for entry in feeds %}
                      {% set url = entry.url %}
                      {% set contents = entry.title %}
                      <li>{% include 'nav-item.njk' %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p>©1999 - 2025 Mike Cravey</p>
    </footer>
</body>
</html>
