---
layout: base
css: content-pages.css
---
<div class="page-header section-grid">
  <div class="section-label">&nbsp;</div>
  <div>
    <h1 class="page-title">{{ title }}</h1>
    {% if subtitle %}
    <p class="subtitle">{{ subtitle | safe }}</p>
    {% endif %}
  </div>
</div>

<div class="divider"><hr></div>

{% set sections = content | splitBySections %}
{% for section in sections %}
<div class="section-grid">
  <div class="section-label">{{ section.label | safe }}</div>
  <div class="section-content">
    {{ section.content | safe }}
  </div>
</div>
{% if not loop.last %}
<div class="divider"><hr></div>
{% endif %}
{% endfor %}
