---
layout: base
css: content-pages.css
---
<div class="page-header">
	<h1 class="page-title">{{ title }}</h1>
	{% if subtitle %}
	<p class="subtitle">{{ subtitle | safe }}</p>
	{% endif %}
</div>

<div class="content-body">
	{%- set sections = content | splitBySections -%}
	{%- for section in sections -%}
	<section>
		<h2 class="band-heading">{{ section.label | safe }}</h2>
		<div class="content-section-body">
			{{ section.content | safe }}
		</div>
	</section>
	{%- endfor -%}
</div>
