<!doctype html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" class="no-js">

<head>
    {{ partial "head.html" . }}
</head>

<body class="home">
    {{ partial "header.html" . }}

    {{ partial "nav.html" . }}

    <main role="main">
    	<section id="about" class="about">
    		<h2>About me</h2>

    		<p>Hi, my name is Mike Cravey. I'm a father, a geek, and looking for my next gig. Feel free to <a href="#contact">reach out</a>. When I'm not working, I play with my <a href="https://github.com/craveytrain/dotfiles">dotfiles</a> repo and am constantly trying to find new tools/processes.</p>
    	</section>

        <section class="latest-post">
            <h2>Latest Post</h2>

        	<article id="latest-post">
                {{ range first 1 .Data.Pages  }}
                    <h3>{{ .Title }}</h3>
                    {{ .Summary }}
                {{ end }}
        	</article>
        </section>

    	<section id="contact" class="contact">
    		<h2>Contact</h2>

    		<p>Have something to say you would like me to hear? Feel free to drop me a line at any one of the following fine establishments (or anywhere else you see me):</p>

    		<ul>
    			<li class="link-twitter"><a href="http://twitter.com/craveytrain">Twitter</a></li>
    			<li class="link-github"><a href="http://github.com/craveytrain">GitHub</a></li>
    			<li class="link-linkedin"><a href="http://www.linkedin.com/in/craveytrain">LinkedIn</a></li>
    		</ul>
    	</section>
    </main>

    {{ partial "foot.html" . }}
</body>

</html>
