<!doctype html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" class="no-js">

<head>
    {{ partial "head.html" . }}
</head>

<body class="home">
    {{ partial "header.html" . }}

    {{ partial "nav.html" . }}

    <main role="main">
    	<section id="about" class="about">
    		<h2>About me</h2>

    		<p>Hi, my name is Mike Cravey. I'm a father, a geek, and looking for my next gig. Feel free to <a href="#contact">reach out</a>. When I'm not working, I play with my <a href="https://github.com/craveytrain/dotfiles">dotfiles</a> repo and am constantly trying to find new tools/processes.</p>
    	</section>

        <section class="latest-post">
            <h2>Latest Post</h2>

        	<article id="latest-post">
                {{ range first 1 .Data.Pages  }}
                    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    {{ .Summary }}
                {{ end }}
        	</article>
        </section>

        <section class="projects">
            <h2>Projects</h2>

            <h3>Dotfiles</h3>

            <p>I am perennially playing with my <a href="https://github.com/craveytrain/dotfiles">dotfiles</a>. This is one of my favorite projects.</p>

            <h3>Chores</h3>

            <p>I'm currently working on a <a href="https://github.com/craveytrain/chores">chores app</a> for my family that helps keep track of who has done what. This gives me a chance to get a little more hands on practice with a few of the more popular technologies: <a href="https://facebook.github.io/react/">React</a>, <a href="http://redux.js.org">Redux</a>, and <a href="http://webpack.github.io">Webpack</a>.</p>
        </section>

    	<section id="contact" class="contact">
    		<h2>Contact</h2>

    		<p>Have something to say you would like me to hear? Feel free to drop me a line at any one of the following fine establishments (or anywhere else you see me):</p>

    		<ul>
    			<li class="link-twitter"><a href="http://twitter.com/craveytrain">Twitter</a></li>
    			<li class="link-github"><a href="http://github.com/craveytrain">GitHub</a></li>
    			<li class="link-linkedin"><a href="http://www.linkedin.com/in/craveytrain">LinkedIn</a></li>
    		</ul>
    	</section>
    </main>

    {{ partial "footer.html" . }}

    {{ partial "foot.html" . }}
</body>

</html>
