<!doctype html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" class="no-js">

<head>
    {{ partial "head.html" . }}
</head>

<body class="home">
    {{ partial "header.html" . }}

    {{ partial "nav.html" . }}

    <section class="main" role="main">
		<h2>Latest Post</h2>

    	<article id="latest-post">
            {{ range first 1 .Data.Pages  }}
                {{ partial "post.html" . }}
            {{ end }}
    	</article>

    	<article id="about">
    		<h2>About</h2>

    		<p>Hi, my name is Mike Cravey. Through the years my identity and role has changed, but these days I'm a father, a geek, and the Head of Web Development at <a href="https://www.student.com">Student.com</a> in London, UK. When I'm not working on our products (and sometimes when I should be) I play with my <a href="https://github.com/craveytrain/dotfiles">dotfiles</a> repo and am constantly trying to find new tools/processes.</p>
    	</article>

    	<article id="contact">
    		<h2>Contact</h2>

    		<p>Have something to say you would like me to hear? Feel free to drop me a line at any one of the following fine establishments (or anywhere else you see me):</p>

    		<ul>
    			<li class="icon-twitter"><a href="http://twitter.com/craveytrain">Twitter</a></li>
    			<li class="icon-github"><a href="http://github.com/craveytrain">GitHub</a></li>
    			<li class="icon-linkedin"><a href="http://www.linkedin.com/in/craveytrain">LinkedIn</a></li>
    		</ul>
    	</article>
    </section>

    {{ partial "foot.html" . }}
</body>

</html>
