---
layout: base
---
<header>
	<!-- TODO: This should conditionally be a link if it's not the home page -->
	<h1><a href="/">{{ '/img/logo-text.svg' | svgContents }}</a></h1>
</header>

<main data-theme="dracula-light">
	<h1>{{- title -}}</h1>

	<div class="content">{{ content }}</div>
</main>
