extends layout

block header
  header.page-header(role='banner')
    hgroup
      h1= site.title
      h2= site.subtitle


block content
  article#about
    h2= about.title
    != about.body

  article#contact
    h2= contact.title
    != contact.body
