extends layout

block content
  h1= title
  ol
    each post in posts
      li
        h3
          a(href=post.url)= post.title
        p.timestamp
          time(datetime=post.timestamp, pubdate)= post.dateFormat
