article.post
	h1
		a(href='/posts/' + _id)= title
	p!= excerpt
	div.metadata
		time.timestamp= timestamp.toRelative()
		ul.tags
			- var iLastTag = tags.length - 1
			- each tag, i in tags
				li
					a(href='/tags/' + tag.urlify())= "#" + tag
					- if (i < iLastTag)
						|	,&nbsp;
