article.post
	h1= post.title
	!= post.content
	footer
		time(datetime: post.timestamp, pubdate)= post.timestamp.toRelative()
		ul.tags
			- var iLastTag = post.tags.length - 1
			- each tag, i in post.tags
				li
					a(href: '/tags/' + tag.urlify())= "#" + tag
					- if (i < iLastTag)
						|	,&nbsp;
					