!!! xml
rss(version:'2.0')
	channel
		title= page.title
		description= page.desc
		link 'http://craveytrain.com'
		language 'en'
		pubDate= items[0].timestamp.toUTCString()
		- each item in items
			!=partial('item', item)