<ul class="contact-links">
	{%- for contact in metadata.author.contacts -%}
		{%  assign className = contact.name | downcase %}
		<li class="{{ className }}"><a rel="me" href="{{ contact.url }}">{{ contact.name }}</a></li>
	{%-endfor -%}
</ul>
