<ul class="contact-links">
	{% for contact in metadata.author.contacts %}
		<li>
			<a rel="me" href="{{ contact.url }}">{{ contact.name }}</a>
			<span aria-hidden="true">◆</span>
		</li>
	{% endfor %}
</ul>
