<ul class="contact-links">
	{% for contact in metadata.author.contacts %}
		{% set className = contact.name | lower %}
		<li class="{{ className }}"><a rel="me" href="{{ contact.url }}">{{ contact.name }}</a></li>
	{% endfor %}
</ul>
