{% set shown = items.slice(0, 4) %}
{% set extra = items.length - shown.length %}
<div class="facepile">
  {% for item in shown %}
  {% set authorName = item.author.name if item.author and item.author.name else '?' %}
  {% set words = authorName.split(' ') %}
  {% set initials = words[0].charAt(0) + (words[1].charAt(0) if words.length > 1 else '') %}
  <a class="facepile-item facepile-item--initials{{ ' facepile-item--alt' if loop.index0 % 2 else '' }}" href="{{ item.url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ authorName }}">
    <span aria-hidden="true">{{ initials }}</span>
    {% if item.author and item.author.photo %}
    <img class="facepile-avatar" src="{{ item.author.photo }}" alt="" width="38" height="38" loading="lazy" onerror="this.remove()">
    {% endif %}
  </a>
  {% endfor %}
  {% if extra > 0 %}
  <span class="facepile-item facepile-more">+{{ extra }}</span>
  {% endif %}
</div>
