{% from "includes/nav-item.njk" import navItem %}

<header>
	{{ '/img/logo.svg' | svgContents | safe }}

	{% block hero %}{% endblock %}

	<nav>
		<ul>
			{%- for entry in collections.nav | eleventyNavigation %}
				<li>
					{{- navItem(entry.url, entry.key) -}}
				</li>
			{%- endfor %}
		</ul>
	</nav>
</header>
