{%- if nowEntries.length -%}
{%- set currentYear = null -%}
{%- set isFirstYear = true -%}
{% for entry in nowEntries | reverse %}
  {%- set entryYear = entry.date | dateToFormat('yyyy') -%}
  {%- if currentYear != entryYear -%}
    {%- if not isFirstYear -%}
    </div>
  </section>
    {%- endif -%}
    {%- if not isFirstYear -%}
      {% include "partials/divider.njk" %}
    {%- endif -%}
  <section class="section-grid year-group">
    <div class="section-label">{{ entryYear }}</div>
    <div class="posts-for-year">
    {%- set currentYear = entryYear -%}
    {%- set isFirstYear = false -%}
  {%- endif -%}
      <article class="post-item">
        <h2 class="post-title">
          <a href="{{ entry.url }}">{{ entry.date | prettyDate }}</a>
        </h2>
      </article>
{% endfor %}
    </div>
  </section>
{%- endif -%}