<small class="post-metadata">
	<time class="timestamp dt-published" datetime="{{ date | htmlDateString }}">{{ date | prettyDate }}</time>
	{% set tags = tags | contentTags %}
	{% include "tag-list.njk" %}
</small>
