{%- if posts.length -%}
<ol class="postList">
{%- for post in posts -%}
  <li>
		<time class="timestamp" datetime="{{ post.date | htmlDateString }}">{{ post.date | prettyDate }}</time>
		<h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
		{%- set tags = post.data.tags | contentTags -%}
		{% include "tag-list.njk" %}
	</li>
{%- endfor -%}
</ol>
{%- endif -%}
