h2.sectionTitle Latest Post
article.post
	h3.homePostTitle
		a(href='/posts/' + post._id)= post.title
	p!= post.excerpt
	div.metadata
		time.timestamp= post.timestamp.toRelative()
		ul.tags
			- var iLastTag = post.tags.length - 1
			- each tag, i in post.tags
				li
					a(href='/tags/' + tag.urlify())= "#" + tag
					- if (i < iLastTag)
						|	,&nbsp;


h2#about.sectionTitle About
p Hi, my name is Mike Cravey and I am a geek. I love technology. I believe in standards. I believe in doing things the right way.
p I believe in the importance of strong social skills. I still shake hands with a firm grip and look people in the eye during a conversation.
p I like to think I am a good engineer/developer/whatever we are calling ourselves these days. I still delude myself into believing we should strive for some semblance of privacy on the web. I love the idea of location-aware services and they simultaneously scare me.
p I love to learn, about anything. I get a little proud sometimes and need to get knocked off my tree stump occasionally. I am obviously starved for content.

h2#contact.sectionTitle Contact
p Have something to say you would like me to hear? Feel free to drop me a line at any one of the following fine establishments (or anywhere else you see me):
ul
	li
		a(href="http://twitter.com/craveytrain") Twitter
	li
		a(href="http://github.com/craveytrain") GitHub
	li
		a(href="http://www.linkedin.com/in/craveytrain") LinkedIn
	li
		a(href="http://www.flickr.com/photos/craveytrain/") Flickr